/* fonts and colors */

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

li {
    list-style-type: none;
}

button,
.signup-box {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}