/* fonts and colors */

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    color: #F9FAF8;
    padding: 8px 35px;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    font-size: 22px;
    font-family: inherit;
}

.hero-signup {
    border: none;
}

.signup-signup {
    border: solid #F9FAF8 2px;
}

.hero-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

button a {
    font-size: inherit;
}

li {
    list-style-type: none;
}

button,
.signup-box {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* page layout & formatting */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 205px;
}

ul {
    display: flex;
    gap: 60px;
}

.dblogo {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 70px;
    padding-bottom: 135px;
    gap: 100px;
}

.hero-img {
    height: 255px;
    width: auto;
    border-radius: 5%;
    flex-shrink: 2;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-right: 40px;
}

.hero-main-text {
    margin: 0;
}
