/* fonts and colors */

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    color: #F9FAF8;
    padding: 8px 35px;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    font-size: 22px;
    font-family: inherit;
}

.hero-signup {
    border: none;
}

.signup-signup {
    border: solid #F9FAF8 2px;
}

.hero-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

li {
    list-style-type: none;
}

button,
.signup-box {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* page layout & formatting */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

ul {
    display: flex;
    gap: 40px;
}

.dblogo {
    width: 80px;
    height: 80px;
}

